<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фильм</th>
                <th scope="col">Зал</th>
                <th scope="col">Время начала</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="preview: ${previews}">
                <td th:text="${preview.id}"/>
                <td th:text="${preview.film}"/>
                <td th:text="${preview.halls}"/>
                <td th:text="${preview.startTime}"/>
                <td>
                    <a th:text="${preview.price}"
                       th:href="@{/tickets/buy/{sessionId}(sessionId=${preview.id})}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:include="blocks/footer :: footer"></footer>
</body>
</html>